---
import { getCollection } from "astro:content";
const projects =
    await getCollection("projects");

import ProjectCard from "./ProjectCard.astro";

function terminalizeTitle(title) {
  return title
    .toLowerCase()
    .replace(/\s+/g, "_");
}

---

<!-- boot message -->
<p class="text-terminal font-terminal mb-6">
  &gt; projects_executed
</p>

<div
  class="
    grid
    md:grid-cols-[320px_1fr] 
    gap-10
    items-start
  "
>

  <!-- Left panel -->
  <aside
    class="
      terminal-panel
      rounded-xl
      p-6
    "
  >

    <p class="text-mainheading font-sora mb-4">
      PROJECT DATABASE
    </p>

    <!--
    <p class="text-terminal mb-4">
      &gt; ls
    </p>
    -->

    <div
      class="
        flex
        flex-col
        gap-2
        ml-4
      "
    >
      {
        projects.map((project, index) => (

          <button
           class:list={[
              "terminal-project",
              { active: index === 0 }
            ]}
            data-project={project.id}
          >
            &gt; {terminalizeTitle(project.data.title)}
          </button>

        ))
      }

    </div>

  </aside>

  <!-- Right panel -->
  <ProjectCard
    project={projects[0]}
    id = "project-card" 
	/>

</div>
<script define:vars={{projects}}>
const fields = [
    "partner",
    "title",
    "subtitle",
    "description",
    "challenge",
    "outcome",
];

const buttons =
document.querySelectorAll(".terminal-project");

function loadProject(project){

    fields.forEach(field => {

        const element =
            document.getElementById(`project-${field}`);

        if(element){
            element.textContent =
                project.data[field] ?? "";
        }

    });


    // Update technologies separately
    const techContainer =
        document.getElementById("project-technologies");

    if (techContainer) {

        techContainer.innerHTML = "";

        project.data.technologies.forEach(tech => {

            const badge =
                document.createElement("span");

            badge.className =
            `
            rounded-full
            border
            border-accent2
            px-3
            py-1
            text-accent2
            font-terminal
            text-sm
            `;

            badge.textContent = tech;

            techContainer.appendChild(badge);

        });

    }

}

buttons.forEach(button=>{

    button.addEventListener("click",()=>{

        buttons.forEach(b=>b.classList.remove("active"));

        button.classList.add("active");

        const project =
            projects.find(
                p => p.id === button.dataset.project
            );

        loadProject(project);

    });

});

</script>
