---
import ProjectGallery from "./ProjectGallery.astro";

interface Props {

    project: CollectionEntry<"projects">;

}

const { project } = Astro.props;

const {
    partner,
    title,
    subtitle,
    description,
    challenge,
    technologies,
    outcome,
    images,
    caseNumber
} = project.data;
---

<div
  class="
    terminal-panel
    rounded-xl
    px-8
    pb-8
    pt-2
  "
>

  <!-- Header

  <p
    class="
      font-terminal
      text-sm
      tracking-widest
      text-accent2
    "
    id="project-case-number"
  >
    CASE FILE {project.data.caseNumber}
  </p>
 -->

  <div class="mt-5">

    <p
      class="
        font-sora
        font-bold
        text-secondheading
        text-base
      "
    >
      PARTNER
    </p>

    <h3
      class="
        font-manrope
        text-xl
        text-mainheading
      "
      id="project-partner"
    >
      {project.data.partner}
    </h3>


    <p
      class="
        mt-5
        font-sora
        font-bold
        text-secondheading
        text-base
      "
    >
      PROJECT
    </p>


    <h2
      class="
        mt-1
        text-4xl
        font-sora
        font-bold
        text-mainheading
      "
      id="project-title"
    >
      {project.data.title}
    </h2>


    {
      subtitle && (
        <p
          class="
            mt-2
            font-manrope
            text-body
          "
         id="project-subtitle"
        >
          {project.data.subtitle}
        </p>
      )
    }

  </div>



  <!-- Gallery + Metadata -->

  <div
    class="
      mt-10
      grid
      lg:grid-cols-[1.6fr_1fr]
      gap-10
    "
    id="project-gallery"
  >


    <!-- Gallery -->

    <ProjectGallery images={images} title={title}/>



    <!-- Details -->

    <div
      class="
        space-y-8
      "
      id="project-details"
    >


      <div>

        <h3
          class="
            text-xl
            font-terminal
            text-mainheading
          "
        >
          Challenge
        </h3>

        <p
          class="
            mt-2
            font-manrope
            text-body
            leading-7
          "
         id="project-challenge"
        >
          {project.data.challenge}
        </p>

      </div>



      <div>

        <h3
          class="
            text-xl
            font-terminal
            text-mainheading
          "
        >
          Technologies
        </h3>


        <div
          class="
            mt-3
            flex
            flex-wrap
            gap-2
          "
          id="project-technologies"
        >

          {
            project.data.technologies.map(tech => (

              <span
                class="
                  rounded-full
                  border
                  border-accent2
                  px-3
                  py-1
                  text-accent2
                  font-terminal
                  text-sm
                "
              >
                {tech}
              </span>

            ))
          }

        </div>

      </div>



      <div>

        <h3
          class="
            text-xl
            font-terminal
            text-mainheading
          "
        >
          Outcome
        </h3>


        <p
          class="
            mt-2
            font-manrope
            text-body
            leading-7
          "
         id="project-outcome"
        >
          {project.data.outcome}
        </p>

      </div>


    </div>


  </div>



  <!-- Long Description -->

  <div
    class="
      mt-12
      pt-8
      border-t
      border-accent2/20
    "
    id="project-descr"
  >

    <h3
      class="
        text-2xl
        font-sora
        text-mainheading
      "
    >
      Project Overview
    </h3>
    <p
      id="project-description"
      class="
        font-manrope
        text-body
        leading-8
        whitespace-pre-line
      "
    >
      {project.data.description}
    </p>

  </div>


</div>
