---
interface Props {
  id?: string;
  terminalLabel?: string; 
  title?: string;
  subtitle?: string;
  sectionClass?: string; 
}

const {
  id,
  terminalLabel,
  title,
  subtitle,
  sectionClass: sectionClassName = ""
} = Astro.props;
---

<section
  id={id}
  class={`mx-auto max-w-6xl px-6 py-20 ${sectionClassName}`}
>

  <div class="terminal-window">

    <!-- window header -->
    <div class="terminal-header">

      <span class="terminal-label">
        {terminalLabel}
      </span>

      <div class="terminal-buttons">
        <span>●</span>
        <span>●</span>
        <span>●</span>
      </div>

    </div>

<!-- window content -->
<div class="terminal-content">

  {
    title && (
      <h2
        class="
          text-3xl
          md:text-4xl
          font-sora
	  font-bold
          text-secondheading
          mb-4
        "
      >
        {title}
      </h2>
    )
  }


  {
    subtitle && (
      <p
        class="
	  font-manrope
          text-body
          mb-8
        "
      >
        {subtitle}
      </p>
    )
  }


  <slot />
    </div>

  </div>
</section>
